.sidebar {
    position: fixed;
    left: 0;
    width: 240px;
    background-color: white;
    height: 100vh;
    z-index: 10;
    transition: transform 0.6s ease;
    overflow-y: auto;
    border-right: 1px solid #dee2e6;
}

.sidebar.hide {
    transform: translate(-100%);
}

.home {
    padding-left: 240px;
    transition: padding-left 0.3s ease;
}

.home.full-width {
    padding-left: 0;
}

@media (max-width: 768px) {
    .home {
        padding-left: 0;
    }
}


@media (max-width: 576px) {
    .home {
        padding: 20px;
    }

    /* responsive-post */

    .responsive-post {
        color: black;
        font-size: 35px;
        display: flex;
        flex-direction: column;
        margin-top: auto;
        justify-content: end;
    }
}



/* writePost */

.writePost {
    margin-top: 40px;
    margin-left: 300px;
}